.notification {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 4px red;
    font-size: smaller;
    padding-top: 12px;
}

header {
    position: fixed;
    padding-top: 2px;
    padding-left: 2px;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    overflow: visible;
}

body {
    margin: 0;
    background: transparent !important;
}

input[type="file"] {
    width: 90px;
    color: white;
    background: transparent;
}
input[type="color"] {
    width: 25px;
    /* move it up */
    margin-top: -3px;
    border: none;
    background: transparent;
}
.option {
    background-color: rgba(0,0,0,.2);
    border: none;
    color:white;
}

.orientation {
    margin-top: 2px;
    background-color: rgba(0,0,0,.2);
    width: 24px;
    border: none;
}

#orientation-x {
    color: red;
}
#orientation-y {
    color: greenyellow;
}
#orientation-z {
    color: blue;
}